body {
  background-color: #fcfefc;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.placeholder-text {
  margin-top: 25px;
  color: white;
  font-size: calc(16px + 1vw);
  font-family: sans-serif;
}
